NUXT_SITE_URL=https://ocyss.icu
NUXT_SITE_NAME="Ocyss's Blog"
NUXT_SITE_AUTHOR="Ocyss"
NUXT_SITE_LONG_AUTHOR="Ocyss_04"
NUXT_SITE_HOMEPAGE="https://github.com/Ocyss"
NUXT_SITE_DESCRIPTION="Ocyss's Blog"


# NUXT_UMAMI_HOST=https://cloud.umami.is
# NUXT_UMAMI_ID=1234567890


NUXT_GITHUB_TOKEN=github_pat_123123123

NUXT_OSS_REGION=oss-cn-hangzhou
NUXT_OSS_ACCESS_KEY_ID=LTAI5t48888888888888
NUXT_OSS_ACCESS_KEY_SECRET=88888888888888888888888888888888
NUXT_OSS_BUCKET=blog