@import "tailwindcss";
@import "@nuxt/ui";

@import "./scrollbar.css";

@plugin "@tailwindcss/typography";

@import 'lenis/dist/lenis.css';

:root {
  /* Main background color */
  --ui-bg: #F7F8FC;
  /* Subtle background */
  --ui-bg-muted: #EEF0F7;
  /* Slightly elevated background */
  --ui-bg-elevated: #E8EEFF;
  /* More prominent background */
  --ui-bg-accented: #E1E5F2;
  /* Inverted background color */
  --ui-bg-inverted: #1A1C25;

  --ui-bg-code: #F3F6FF;

  --ui-border-muted: #C5CAD9;
  .u-dark-only {
    display: none;
  }
  .u-light-only {
    display: unset;
  }
}

/* One Dark Theme */
.dark {
  /* Main background color */
  --ui-bg: #27272B;
  /* Subtle background */
  --ui-bg-muted: #262A31;
  /* Slightly elevated background */
  --ui-bg-elevated: #1E2227;
  /* More prominent background */
  --ui-bg-accented: #3e4451;
  /* Inverted background color */
  --ui-bg-inverted: #abb2bf;

  --ui-bg-code: #262A31;

  --ui-border-muted: #3e4451;

  .u-light-only {
    display: none;
  }
  .u-dark-only {
    display: unset;
  }
}


.u-float-btn {
  @apply bg-white text-[var(--ui-bg-inverted)] hover:bg-gray-300
  dark:bg-gray-700 dark:hover:bg-gray-500 cursor-pointer transition-shadow
  shadow-[2px_2px_8px_rgba(0,0,0,0.1)] hover:shadow-[4px_4px_12px_rgba(0,0,0,0.15)]
  dark:shadow-[2px_2px_8px_rgba(0,0,0,0.3)] dark:hover:shadow-[4px_4px_12px_rgba(0,0,0,0.4)]
}


.heading-anchor {
  @apply no-underline hover:underline
}
