@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}


@import 'lenis/dist/lenis.css';

@source '../../../content/**/*';

:root {
  /* Main background color */
  --ui-bg: #F7F8FC;
  /* Subtle background */
  --ui-bg-muted: #EEF0F7;
  /* Slightly elevated background */
  --ui-bg-elevated: #E8EEFF;
  /* More prominent background */
  --ui-bg-accented: #E1E5F2;
  /* Inverted background color */
  --ui-bg-inverted: #1A1C25;

  --ui-bg-code: #F2F2F2;

  --ui-border-muted: #C5CAD9;
  .u-dark-only {
    display: none;
  }
  .u-light-only {
    display: unset;
  }
}

/* One Dark Theme */
.dark {
  /* Main background color */
  --ui-bg: #27272B;
  /* Subtle background */
  --ui-bg-muted: #262A31;
  /* Slightly elevated background */
  --ui-bg-elevated: #1E2227;
  /* More prominent background */
  --ui-bg-accented: #3e4451;
  /* Inverted background color */
  --ui-bg-inverted: #abb2bf;

  --ui-bg-code: #454545;

  --ui-border-muted: #3e4451;

  .u-light-only {
    display: none;
  }
  .u-dark-only {
    display: unset;
  }
}

/*
    Typography plugin configuration
*/
@utility prose {
  code {
    @apply px-1.5 py-0.5 text-sm font-mono font-medium rounded-[calc(var(--ui-radius)*1.5)] inline-block border border-(--ui-border-muted) text-(--ui-text-highlighted) bg-(--ui-bg-muted);
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  pre {
    @apply m-0 rounded-none p-0 pe-0 ps-0 whitespace-normal;
    code {
      @apply py-3 px-4 block rounded-none whitespace-pre border-0;
    }
  }
  blockquote {
    /* Remove extra quotes */
    p {
      &:first-of-type::before,
      &:last-of-type::after {
        display: none;
      }
    }
  }
  table{
    @apply w-auto border-separate border-spacing-0 rounded-[calc(var(--ui-radius)*1.5)];
    thead{
      @apply bg-(--ui-bg-muted);
    }
    th{
      @apply py-3 px-4 font-semibold text-sm text-left border-e border-b first:border-s border-t border-(--ui-border-muted);
    }
    tr{
      @apply [&:first-child>th:first-child]:rounded-tl-[calc(var(--ui-radius)*1.5)] [&:first-child>th:last-child]:rounded-tr-[calc(var(--ui-radius)*1.5)] [&:last-child>td:first-child]:rounded-bl-[calc(var(--ui-radius)*1.5)] [&:last-child>td:last-child]:rounded-br-[calc(var(--ui-radius)*1.5)];
    }
    td{
      @apply py-3 px-4 text-sm text-left align-top border-e border-b first:border-s border-(--ui-border-muted) [&_code]:text-xs/5 [&_p]:my-0 [&_p]:leading-6 [&_ul]:my-0 [&_ol]:my-0 [&_ul]:ps-4.5 [&_ol]:ps-4.5 [&_li]:leading-6 [&_li]:my-0.5;
    }
  }
  h2{
    &::after{
      content: "§";
      @apply text-(--ui-primary) ms-2;
    }
  }
  h3{
    &::before{
      content: "#";
      @apply text-(--ui-primary) me-2;
    }
  }
}


.u-float-btn {
  @apply bg-white text-(--ui-bg-inverted) hover:bg-gray-300
  dark:bg-gray-700 dark:hover:bg-gray-500 cursor-pointer transition-shadow
  shadow-[2px_2px_8px_rgba(0,0,0,0.1)] hover:shadow-[4px_4px_12px_rgba(0,0,0,0.15)]
  dark:shadow-[2px_2px_8px_rgba(0,0,0,0.3)] dark:hover:shadow-[4px_4px_12px_rgba(0,0,0,0.4)]
}

.heading-anchor {
  @apply no-underline hover:underline
}
