
*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-300 rounded-lg;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  @apply bg-black/20 rounded-lg;
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-black/40;
  cursor: pointer;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.dark{
  *::-webkit-scrollbar-track {
      @apply bg-gray-800;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-white/20;
  }
  *::-webkit-scrollbar-thumb:hover {
    @apply bg-white/40;
  }
}


* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.dark * {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}


.scrollbar-hidden{
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
